<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chocolate</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="bloc_page">
		<header>
			<div class="header_top_part">
				<div th:insert="menu.html"></div>
			</div>
			<div class="header_bottom_part">
				<h1>TOUS LES UTILISATEURS</h1>
			</div>
		</header>
		<table class="table">
			<thead class="table top">
				<tr>
					<th>ID</th>
					<th>NOM</th>
					<th>EMAIL</th>
					<!-- <th>ROLE</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<!-- <td th:text="${user.role}"></td> -->
					<td><a
						onclick="return confirm('êtes vous sur de vouloir supprimer?')"
						th:href="@{deleteUser(id=${user.id})}"> Supprimer</a></td>
					<td><a th:href="@{editUserByIdWhenAdmin(id=${user.id})}"> Modifier</a></td>						
				</tr>
			</tbody>
		</table>
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>