<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
<script type="text/javascript" th:src="@{/js/myScript.js}"></script>
</head>
<body>
	<header>
		<div class="header_top_part">
			<div th:insert="menu.html"></div>
		</div>
		<div class="header_bottom_part">
			<h1>CONNEXION REUSSIE</h1>
		</div>
	</header>
	<div class="page_formulaire">
	
	<footer>
		<div th:insert="footer.html"></div>
	</footer>
	</div>
</body>
</html>