<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav class="navigation">
		<div class="navigation_menu">
			<div class="logo">
				<p>
					<img alt="logo chocolateFactory"
						src="/imagesAndLogos/logos/logo.jpg">
				</p>
			</div>

			<div class=menu_header>
				<div id=menu_element>
					<a href="/">Home</a>
				</div>
				<div id=menu_element>
					<a href="/ajouterDesChocolats">Ajouter des chocolats</a>
				</div>
				<div id=menu_element>
					<a href="/listeDesChocolats">Liste des chocolats</a>
				</div>
				<div id=menu_element>
					<a href="/login">Se connecter</a>
				</div>
				<div id=menu_element>
					<a href="/registration">S'enregistrer</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}">Sign Out</a>
				</div>
				<!-- <div id=menu_element>
					<a href="/listeDesUsers">Liste Des Utilisateurs</a>
				</div> -->

				<div id=menu_element sec:authorize="hasRole('ADMIN')">
					<a href="/listeDesUsers">Liste des Utilisateurs</a>
				</div>
				<div id=menu_element sec:authorize="hasRole('ADMIN')">
					<a href="/editRole">Editer les roles</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a href="/logSuccess"> <img alt="logo isAuth"
						src="/imagesAndLogos/logos/isAuth.jpg">
					</a>
				</div>
			</div>
		</div>
	</nav>
</body>